In [2]:
import pandas as pd

%matplotlib inline

In [13]:
df=pd.read_table('shanghai_weather_2017.csv',encoding='gbk')

In [19]:
df.head(5)

                    NO.,DATE,weather,temp,wind
0   1,2017年1月1日,晴 /多云,16℃ / 9℃,东南风 ≤3级 /西风 ≤3级
1  2,2017年1月2日,多云 /多云,15℃ / 8℃,北风 ≤3级 /东北风 ≤3级
2    3,2017年1月3日,晴 /多云,14℃ / 8℃,东风 ≤3级 /东风 ≤3级
3  4,2017年1月4日,小雨 /中雨,15℃ / 11℃,东风 ≤3级 /东风 ≤3级
4  5,2017年1月5日,中雨 /小雨,12℃ / 10℃,东风 ≤3级 /东风 ≤3级

In [22]:
df.temp

AttributeError: 'DataFrame' object has no attribute 'temp'

In [3]:
range(5)

range(0, 5)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
5//2

2

In [8]:
import numpy as np

In [14]:
np.random.seed(0)

In [22]:
np.random.seed(99)
l=np.random.permutation(10)

In [23]:
type(l)

numpy.ndarray

In [24]:
list(l)

[8, 5, 4, 2, 6, 7, 0, 9, 3, 1]